html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }

/* wrap url's */

pre {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	}

video { max-width: 100%; height: auto; }

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 96%; /* Holding outermost DIV */
	max-width: 1414px;
}

header {
	background-position: 0 top;
	background-repeat: repeat-x;
	background-image: url(../img/buntingSlice3.png);
	margin-right: 1.0416667%; /* 10 ÷ 960 */
	margin-left: 1.0416667%; /* 10 ÷ 960 */
	width: 97.9166667%; /* 940 ÷ 960 */
}

#logo { 
	display: block; 
	padding-top: 75px; 
	color: #0d0c0c; 
	text-transform: uppercase; 
	font-family: Arial, "Lucida Grande", Verdana, sans-serif; 
	font-size: 3em; /* 48 ÷ 16 = 3*/
}

#logo span { color: #dfdada; }

nav { 
	padding-bottom: 25px; 
	margin-top: 26px; 
	margin-left: -1.0416667%; /* 10 ÷ 960 */ 
	padding-right: 1.0416667%; /* 10 ÷ 960 */ 
	padding-left: 1.0416667%; /* 10 ÷ 960 */ 
	width: 97.9166667%; /* 940 ÷ 960 */ 
	background-repeat: repeat-x; 
	background-image: url(../img/atwiNavBg.png); 
	border-bottom-color: #bfbfbf; 
	border-bottom-style: double; border-bottom-width: 4px; 
}

nav ul li { 
	display: inline-block;
	margin-right: 2.6595745%; /* 25 ÷ 940 */
}

nav ul li a { 
	height: 42px; 
	line-height: 42px; 
	text-decoration: none; 
	text-transform: uppercase; 
	font-family: Arial, "Lucida Grande", Verdana, sans-serif; 
	font-size: 1.6875em; /*27 ÷ 16 */  
	color: black; 
}

#content {
	margin-top: 58px;
	margin-right: 1.0416667%; /* 10 ÷ 960 */
	float: right;
	width: 72.7083333%; /* 698 ÷ 960 */
}

.oscarMain { 
	float: left; 
	margin-top: -28px; 
	width: 28.9398281%; /* 698 ÷ 202 */
	max-width: 202px;
}

#content h1 { 
	font-family: Arial, Helvetica, Verdana, sans-serif; 
	text-transform: uppercase; 
	font-size: 4.3125em; } /* 69 ÷ 16 */

#content h1 span { 
	display: block; 
	line-height: 1.052631579em; /* 40 ÷ 38 */ 
	color: #757474; 
	font-size: .550724638em; /* 38 ÷ 69 */
}

#content p { line-height: 40px; color: #757474; font-size: 24px; }

aside {
	border-right-color: #e8e8e8;
	border-right-style: solid;
	border-right-width: 2px;
	margin-top: 58px;
	padding-right: 1.0416667%; /* 10 ÷ 960 */
	margin-right: 1.0416667%; /* 10 ÷ 960 */
	margin-left: 1.0416667%; /* 10 ÷ 960 */
	float: left;
	width: 22.7083333%; /* 218 ÷ 960 */
}

aside h4 { margin-bottom: 20px; font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: 20px; text-transform: uppercase; }
.overHyped { margin-top: 27px; }
.sideBlock {
	width: 100%; /* 220 */
}
footer {
	padding-bottom: 43px;
	float: left;
	margin-top: 20px;
	padding-top: 33px;
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-image: url(../img/buntingSlice3Invert.png);
	margin-right: 1.0416667%; /* 10 ÷ 960 */
	margin-left: 1.0416667%; /* 10 ÷ 960 */
	clear: both;
	width: 97.9166667%; /* 940 ÷ 960 */
	border-top-color: #bfbfbf; border-top-style: double; border-top-width: 4px;
}

footer p {
	margin-bottom: 38px;
	text-align: center;
	font-size: 13px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	text-transform: uppercase;
	color: #757474;
}

img {
	max-width: 100%;
}

.sideBlock img {
	max-width: 45%;
}

@media screen and (min-width: 1001px) and (max-width: 1080px) {
	nav ul li a { font-size: 1.4em; }
}
@media screen and (min-width: 805px) and (max-width: 1000px) {
	nav ul li a { font-size: 1.25em; }
}
@media screen and (min-width: 769px) and (max-width: 804px) {
	nav ul li a { font-size: 1.1em; }
}

@media screen and (max-width: 768px) {
	#wrapper,header,footer,nav {width: 768px; margin: 0px;}	
	#logo { text-align:center; }
	nav { text-align: center; background-image: none; border-top-color: #bfbfbf; border-top-style: double; border-top-width: 4px; padding-top: 20px;}
	nav ul li a { background-color: #dedede; line-height: 60px; font-size: 40px; }
	#content,aside { margin-top: 20px; padding-right: 10px; padding-left: 10px; width: 728px;}
	.oscarMain { margin-right: 30px; margin-top: 0px; width: 150px; height: 394px; }
	aside { border-right: none; border-top: 2px solid #e8e8e8; padding-top: 20px; margin-bottom: 20px; }
	.sideBlock { width: 46%; float: left; }
	.overHyped { margin-top: 0px; margin-left: 50px; }
}